:root{
  --mainBrown:#2d1e1f;
  --mainYellow:rgb(255, 158, 9);
  --mainGrey:#ece8dc;
  --mainWhite:#ffffff;
  --mainDark:#222;
}

body {
  background:var(--mainWhite);
  color:var(--mainDark);
  font-family:Verdana, Geneva, Tahoma, sans-serif !important;
}
h1,h2,h3,h4,h5,h6{
  font-family: "Courier New", Courier, monospace !important;
  letter-spacing: 0.25rem !important;
}
.text-yellow {
  color:var(--mainYellow)
}

.cart-icon {
  cursor: pointer;
  color: var(--mainYellow);
  font-size: 2rem;
}

.default-background,.about-background{
  min-height:100vh;
  display:flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(rgb(255, 158, 9, 0.5),rgb(255, 158, 9,0.5));
  background-position: center;
  background-size: cover;
}
.about-background{
  min-height:60vh;
}
.btn-yellow{
  color:var(--mainYellow);
  border-color:var(--mainYellow);
}
.btn-yellow:hover{
  background-color:var(--mainYellow);
  color:var(--mainBrown) !important;

}
.footer{
  background:var(--mainBrown);
}

.menu,.contact{
  background:var(--mainGrey)
}



 /* ************************************************************************************* */
/* Equal-height card images, cf. https://stackoverflow.com/a/47698201/1375163*/
.card-img-top {
  /*height: 11vw;*/
  object-fit: cover;
}
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .card-img-top {
      height: 25vw;
  }
}
/* Medium devices (tablets, 768px and up) */
@media (max-width: 768px) {
  .card-img-top {
      height: 16vw;
  }
}
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .card-img-top {
      height: 11vw;
  }
}
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .card-img-top {
      height: 11vw;
  }
}